.share-buttons-container {
  display: flex;
  gap: 12px;
  width: 100%;
}

@media (max-width: 768px) {
  .share-buttons-container {
    flex-direction: column;
  }
  
  .share-buttons-container .share-button {
    width: 100% !important;
    padding: 19px 15px !important;
  }
}

